<template>
    <section class="conf-section m-3 p-3">
        <div class="row mx-0">
            <div class="col-xl-4 px-0">
                <!-- bodegas -->
                <div class="border-dark p-2 br-5 my-2">
                    <div class="row mx-0 pl-2">
                        <b class="mr-2 my-auto">Bodegas</b>
                        <el-popover placement="bottom" title="Crear bodega" width="240" trigger="click" >
                            <div class="row mx-0 my-2">
                                <div class="col">
                                    <label>Nombre Bodega</label>
                                    <input type="text" class="form-control" name="" value="" />
                                </div>
                            </div>
                            <div class="row mx-0 my-2">
                                <div class="col">
                                    <label>Responsable</label>
                                    <el-select v-model="value" placeholder="Select"> <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" /> </el-select>
                                </div>
                            </div>
                            <div class="row mx-0 mt-2 justify-content-end">
                                <button type="button" class="btn btn-sm btn-light mr-2" name="button">Cerrar</button>
                                <button type="button" class="btn btn-sm btn-primary" name="button">Guardar</button>
                            </div>
                            <i slot="reference" class="mdi mdi-plus-circle f-22 cr-pointer" />
                        </el-popover>
                    </div>
                    <div class="row mx-0 my-3">
                        <p class="mx-2 my-auto"> Bodega 1 </p>
                        <el-tooltip class="item" effect="light" content="Roberto Gómez Bolaños" placement="top">
                            <img class="rounded-circle mx-2 obj-cover" height="40" width="40" src="/img/usuarios/anni.jpg" alt="" />
                        </el-tooltip>
                        <button type="button" :class="`btn btn-sm my-auto ${respBodega?'btn-success':'btn-danger'}`" name="button" >
                            {{respBodega?'Activo':'Inactivo'}}
                        </button>
                    </div>
                </div>
              
            </div>
            <!-- tablas -->
            <div class="col-xl-8">
                <div class="row mx-0 my-3">
                    <button type="button" class="btn btn-success my-auto btn-sm d-flex" name="button" @click="agregarProducto">
                        <span class="my-auto">Agregar producto</span>
                        <i class="mdi mdi-plus-box cr-pointer f-17 ml-2 my-n1" />
                    </button>
                    <button type="button" class="btn btn-primary ml-2 my-auto btn-sm d-flex" name="button" @click="trasnferirProducto">
                        <span class="my-auto">Transferir producto</span>
                        <i class="mdi mdi-reload f-17 ml-2 my-n1" />
                    </button>
                </div>
                <div class="row mx-0 my-3">
                    <div class="col overflow-auto">
                        <p class="f-600 my-2 text-center f-18">Productos en bodega </p>
                        ACA VA UNA TABLA
                    </div>
                </div>
                <div class="row mx-0 my-3">
                    <div class="col overflow-auto">
                        <p class="f-600 my-2 text-center f-18">Historial de movimientos</p>
                        ACA VA UNA TABLA OPCIONAL
                    </div>
                </div>
            </div>
        </div>
        <modal-agregar-producto ref="modalAgregarProducto" />
        <modal-transferir-producto ref="modalTransferirProducto" />
        <!-- https://element.eleme.io/#/es -->
    </section>
</template>

<script>
export default {
    components: {
        modalAgregarProducto: () => import('./modales/modalAgregarProducto'),
        modalTransferirProducto: () => import('./modales/modalTransferirProducto'),
        modal: () => import('~/components/modal')
    },
    data(){return {
        respBodega: false,
        product: false,
        
        options: [{
            value: 'Option1',
            label: 'Option1'
        }, {
            value: 'Option2',
            label: 'Option2'
        }, {
            value: 'Option3',
            label: 'Option3'
        }, {
            value: 'Option4',
            label: 'Option4'
        }],
        value: '',
        
    } },
    methods: {
        agregarProducto(){ 
            this.$refs.modalAgregarProducto.toggle() 
        },
        trasnferirProducto(){
             this.$refs.modalTransferirProducto.toggle() 
        },

    }
}
</script>

<style lang="css" scoped>
.border-dark{
    border: 1px solid #8a8a8a
}
</style>
